@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Involve-Bold";
  src: local("Involve-Bold"), url("/fonts/Involve-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Involve-BoldOblique";
  src: local("Involve-BoldOblique"),
    url("/fonts/Involve-BoldOblique.otf") format("opentype");
}

@font-face {
  font-family: "Involve-Medium";
  src: local("Involve-Medium"),
    url("/fonts/Involve-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Involve-Regular";
  src: local("Involve-Regular"),
    url("/fonts/Involve-Regular.otf") format("opentype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --involve-bold: "Involve-Bold", sans-serif;
  --involve-bold-italic: "Involve-BoldOblique", sans-serif;
  --involve-medium: "Involve-Medium", sans-serif;
  --involve-regular: "Involve-Regular", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Roboto Condensed", sans-serif;

  --gold: #b99653;
  --text-color-black: #0a0909;
  --black: #101010;
  --grey: #2b2b2b;
  --white: #fff;
  --text-color-secondary: #5d5d5d;
  --text-color-primary: #fff;
  --orange: #ff4003;
  --purple: #6f00ff;
}

body {
  color: var(--black);
  background: #f9f1eb;
  font-family: var(--involve-bold), Helvetica, sans-serif;
}

.involve-italic {
  font-family: var(--involve-bold-italic);
}

.involve-medium {
  font-family: var(--involve-medium);
}

.involve-regular {
  font-family: var(--involve-regular);
}

.condensed {
  font-family: var(--font3);
}

.roboto {
  font-family: var(--third-family);
}

h1 {
  @apply text-[40px] md:text-[80px] leading-[100%] uppercase;
}

.show-row {
  @apply py-3 border-b-[1px] border-[--black] flex items-start justify-between gap-5 flex-wrap;
}

.show-row .desc {
  @apply roboto text-[14px] leading-[140%] max-w-[400px] w-full;
}

.show-row .label {
  @apply translate-y-[3px];
}

.label {
  @apply condensed text-[--text-color-secondary] text-[12px] leading-[120%] uppercase font-[400] transition-colors;
}

.input {
  @apply border-b-[1px] border-[--orange] bg-transparent rounded-none h-[28px] text-white roboto outline-none;
}

footer .label {
  @apply text-white;
}

footer .label.error {
  @apply text-red-500;
}

.btn {
  @apply bg-[--orange] rounded-[100px] py-5 condensed text-[16px] leading-[125%] uppercase font-[500] hover:bg-[#df3a05] active:bg-[#a72b04] transition-colors;
}
